<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="text-box">
    <div class="container">
        <h1>Thanks for Scheduling!</h1>
        <p>Your date has been successfully scheduled for {{ date }}.</p>
        <p>Your choice is: {{ user_choice }}</p>  <!-- Display the choice -->
        <p>A confirmation email has been sent to: {{ email }}</p>
    </div>
</div>
</body>
</html>
